.fullWidth {
    width: 100%;
}

.chart .axis-line {
    stroke: #ccc;
    stroke-width: 1;
}
.chart .data {
    stroke: #5CC0C0;
    stroke-width: 3;
    fill: none;
}
.chart .data path {
    stroke: #5CC0C0;
    stroke-width: 5;
    fill: none;
}
.chart .axis-label .text-label{
    font: bold 12px sans-serif;
}